@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.tutorial-page {
  min-height: 100vh;
  background: linear-gradient(to bottom, #f9fafb, #ffffff);
  padding: 1rem;

  @include md {
    padding: 2rem;
  }

  @include lg {
    padding: 3rem;
  }
}
